{% extends 'base.html' %} 
{% load static %}

{% block title %}ログイン{% endblock %}

{% block content %}
<div class="form-container">
    <h2 style="font-size: 1.5rem; font-weight: 700; margin-bottom: 2rem; text-align:center; color: #1f2937;">まちレポ ログイン</h2>
    
    <form method="post" >
        {% csrf_token %}
        <div class="form-group">
            <label for="login-email">メールアドレス</label>
            {{ form.username }}
        </div>
        <div class="form-group">
            <label for="login-password">パスワード</label>
            {{ form.password }}
        </div>
  
            <button type="submit" class="btn btn-primary">ログイン</button>
            
            <a href="{% url 'index' %}" class="link-secondary" style="color: #374151; opacity: 1;">&lt; 戻る</a>
    </form>
</div>

{% endblock %}