{% extends 'top_base.html' %}

{% block title %}マイページ{% endblock %}

{% block content %}




<div class="sub-header">
    <a href="{% url "user_home" %}" class="back-link">&lt; 戻る</a>
    <h2 class="page-title">マイページ</h2>
</div>

<main class="main-content form-page-main">
    
    <div class="form-group">
        <label>ユーザー名</label>
        <span class="detail-data-text">{{ user.username }}</span>
    </div>

    <div class="form-group">
        <label>メールアドレス</label>
        <span class="detail-data-text">{{ user.email|default:"未設定" }}</span>
    </div>
    
    <div class="form-group">
        <label>パスワード</label>
        <span class="detail-data-text">・・・・・・</span>
    </div>

    <div class="form-group">
        <label>保有バッジ</label>
        
        <div class="badge-display-container" style="margin-top: 0; background-color: transparent; border: none; box-shadow: none; padding: 0; justify-content: flex-start; gap: 0.25rem;">
            
            <div class="badge-item" style="width: auto;">
                <img src="/media/images/badge_bronze.png" alt="銅バッジ" class="badge-image">
            </div>
            <div class="badge-item" style="width: auto;">
                <img src="/media/images/badge_silver.png" alt="銀バッジ" class="badge-image">
            </div>
            
        </div>
        
    </div>

    <div class="form-submit-container" style="margin-top: 2rem; text-align: left;">
        <a href="{% url 'user_profile_edit' %}" class="btn btn-primary ">編集</a>
        <a href="{% url 'user_password_change' %}" class="btn btn-secondary" style="text-align: center; padding: 0.75rem;">
            パスワードを変更
        </a>
    </div>

</main>


{% endblock %}