{% extends 'top_base.html' %}

{% block title %}マイページ{% endblock %}

{% block content %}




<div class="sub-header">
    <a href="{% url "user_home" %}" class="back-link">&lt; 戻る</a>
    <h2 class="page-title">マイページ</h2>
</div>

<main class="main-content form-page-main">
    
    <div class="form-group">
        <label>ユーザー名</label>
        <div class="badge-icon">
            <span class="detail-data-text" style="margin-top:0.2rem;">{{ user.username }}</span>
            {% if "none" == user.badge_rank%}
                <p></p>
            {% else %}
                <img src="/media/images/badge_{{ user.badge_rank }}.png" alt="銅バッジ" style="margin-left:0.5rem; width:30px; height:30px;">
            {% endif %}
        </div>
    </div>
    
    
    <div class="form-group">
        <label>メールアドレス</label>
        <span class="detail-data-text">{{ user.email|default:"未設定" }}</span>
    </div>
    
    <div class="form-group">
        <label>パスワード</label>
        <span class="detail-data-text">・・・・・・</span>
    </div>

    <div class="form-group">
        <label>保有バッジ</label>
        
        <div class="badge-display-container" style="margin-top: 0; background-color: transparent; border: none; box-shadow: none; padding: 0; justify-content: flex-start; gap: 0.25rem;">
            {% if card == 0 %}
            <div class="badge-item" style="width: auto;">
                <span class="detail-data-text">現在保有しているバッジはありません</span>
            </div>
            {% endif %}
            {% if card >= 1 %}
            <div class="badge-item" style="width: auto;">
                <img src="/media/images/badge_bronze.png" alt="銅バッジ" class="badge-image">
            </div>
            {% endif %}
            {% if card >= 2 %}
            <div class="badge-item" style="width: auto;">
                <img src="/media/images/badge_silver.png" alt="銀バッジ" class="badge-image">
            </div> 
            {% endif %}
            {% if card >= 3 %}
            <div class="badge-item" style="width: auto;">
                <img src="/media/images/badge_gold.png" alt="金バッジ" class="badge-image">
            </div> 
            {% endif %}
            {% if card >= 4 %}
            <div class="badge-item" style="width: auto;">
                <img src="/media/images/badge_rainbow.png" alt="虹バッジ" class="badge-image">
            </div> 
            {% endif %}
            
        </div>
        
    </div>

    <div class="form-submit-container" style="margin-top: 2rem; text-align: left;">
        <a href="{% url 'user_profile_edit' %}" class="btn btn-primary " style="margin-bottom: 1rem;">編集</a>
        <a href="{% url 'user_password_change' %}" class="btn btn-primary" >
            パスワードを変更
        </a>
    </div>

</main>


{% endblock %}