{% extends 'top_base.html' %}

{% block title %}ユーザー情報編集{% endblock %}

{% block content %}
  

<div class="sub-header">
    <a href="{% url 'my_page' %}" class="back-link">&lt; 戻る</a>
    <h2 class="page-title">ユーザー情報編集</h2>
</div>

<main class="main-content form-page-main">
    
    
    <form method="post" style="padding-top: 2rem; ">
        {% csrf_token %}
        <div class="form-group">
            <label for="edit-username">ユーザー名</label>
            {{ form.username }}
        </div>

        <div class="form-group">
            <label for="edit-badge-select">保有バッジ選択</label>


            
            <div class="badge-select-container">
                {% for value, label in form.fields.badge_rank.choices %}
                <label class="badge-radio-label">
                    <input type="radio" name="badge_rank" value="{{ value }}" {% if form.initial.badge_rank == value %}checked{% endif %}>
                    {% if value != 'none' %}
                        <img src="/media/images/badge_{{ value }}.png" alt="{{ label }}" class="badge-image">
                    {% else %}
                        <span class="badge-label-text">取得できているバッジは存在しません</span>
                    {% endif %}
                </label>
                {% endfor %}

            </div>
        </div>


        <div class="form-group">
            <label for="edit-email">メールアドレス</label>
            {{ form.email }}
        </div>
        
     
        <div class="form-submit-container" style="margin-top: 2rem;">
            <button type="submit" class="btn btn-primary">更新</button>
        </div>

        <div style="height: 2rem;"></div>
    </form>
</main>



{% endblock %}