{% extends 'base.html' %} 

{% block title %}404{% endblock %} 

{% block content %}
    <body class="form-page-bg">

    <div class="form-container">
        
        <div style="text-align: center;">
            <h1 style="font-size: 2.5rem; font-weight: 700; color: #1f2937; margin-bottom: 1rem;">404</h1>
            
            <p style="color: #374151;">ページが見つかりませんでした。</p>
            
            <a href="{% url 'index' %}" class="btn btn-primary ">トップに戻る</a>
        </div>
        
        
    </div>
    

{% endblock %}