{% extends 'base.html' %} 

{% block title %}トップページ{% endblock %} 

{% block content %}
<body class="form-page-bg">

    <div class="form-container">
        
        <div style="text-align: center;">
            <h1 style="font-size: 2.5rem; font-weight: 700; color: #1f2937; margin-bottom: 1rem;">まちレポ</h1>
            
            <p style="color: #374151;">あなたの声で、まちを良くする</p>
        </div>
        
        <div style="margin-top: 4rem; text-align: center;">
            <a href="{% url 'login' %}" class="btn btn-primary ">ログイン</a>
            <a href="{% url 'signup' %}" class="link-secondary" style="margin-top: 1.5rem; color: #374151; opacity: 1;">アカウントをお持ちでない方はこちら<br>（新規登録）</a>
        </div>
    </div>
    
    
{% endblock %}